.container{
	display:flex;
	height:200px;
	width:500px;
	background-color:#D3D3D3;
	border:5px solid black;
	border-radius:40px;
	display:flex;
	justify-content:center;
	align-items:center;
	gap:20px;
}
.item{
	height:100px;
	width:100px;
	border-radius:50%;
}
.green{
	background-color:green;
}
.yellow{
	background-color:yellow;
}
.red{
	background-color:red;
}